.archives
  padding 40px 0 1.5em
  h2
    color #333
    font-size 25px
    line-height 20px
    margin-bottom 30px

.list
  h2
    font-size 30px
    font-weight bold
    line-height 1.2
    margin-left 0
    text-align left
    border-bottom 0px
    color color-title
  h3
    font-size 20px
    line-height 1.2
    font-weight normal
    a
      color: color-title
      font-weight bold
      transition color 0.3s
      &:hover
        color color-link
  .meta
    color #333
    font-size 0.9em
    line-height 20px
    margin-bottom 20px

.archive-category
  color color-default
  display inline-block
  a
    color color-table