// Colors
color-default = #555
color-link = #f1c40f
color-background = #fff
color-title = #34495e
color-title-hover = #1dd2af
color-border = #f7e186
color-table = #3498db
color-grey = #f5f5f5
color-meta = #268bd2

@import url("//fonts.googleapis.com/css?family=Lato:100,300,400,700")
@import url("//fonts.googleapis.com/css?family=Source+Code+Pro:300")

// Fonts
font-sans = "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, HiraginoSansGB, sans-serif
font-mono = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace
font-icon = FontAwesome
font-icon-path = "fonts/fontawesome-webfont"
font-icon-version = "4.0.3"
font-size = 18px

// Layout
max-width = 700px
line-height = 1.8

// Media queries
mq-mobile = "screen and (max-width: 480px)"
mq-tablet = "screen and (max-width: 620px)"
mq-normal = "screen and (max-width: 1040px)"